.DS_Store

# Exclude node_modules
node_modules

# Personal Visual Studio Code directory
.vscode

**/*debug.log*

.coveralls.yml
dist/*
example/demo.js
example/demo.js.map
test/unit/coverage
.idea
TODO
